
/* cool dark orange color: rgb(218,75,39);
   nice light blue color:  #ccffee;
   very off-black grey:    rgb(28,28,28);
   */

*{
    margin: 0;
    padding: 0;
}

body{
    font: 1.1em 'Arial', sans-serif;
    width: 100%;
    line-height: 165%;
    color: black; 
    background-color:  white; /
    size: 0.9em;
}

a{
    color: black; 
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: rgb(218,75,39);
	border-bottom: 1px solid white;
}

h1{
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-weight: bold;
}

.title{
    border-bottom: 1px solid black;
}

::selection{
    background: rgb(218,75,39);
}

ul{
    list-style-type: disc;
}

@media only screen and (max-width: 600px) {
	#container{
	    width: 90vw;
	}
}
@media only screen and (min-width: 601px) {
	#container{
		max-width: 600px;
	}
}


#container{
    margin-left: 5vw;
	width: 80vw;
}
#container img{
    max-width: 100%;
}

.block{
    margin-top: 12vh;
    margin-bottom: 5vh;
}

p{
    margin: 20px 0px;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

blockquote{
    border-left: 2px solid black;
    padding-left: 5px;
}

code{
    background-color: #ccc;
    padding: 5px;
}
