*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    width: 100%;
    line-height: 165%;
    color: black;
    background-color: white;
}

a{
    color: blue;
    border-bottom: 1px solid blue;
    padding-bottom: 1px;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: blue;
}

h1{
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-weight: bold;
}

.title{
    border-bottom: 1px solid black;
}

::selection{
    background: #ccffee; /*#0066ff;*/
}

ul{
    list-style-type: disc;
}

#container{
    width: 80vw;
    max-width: 600px;
    margin-left: 5%;
}
#container img{
    width: 100%;
}

.block{
    margin-top: 12vh;
    margin-bottom: 5vh;
}

p{
    margin: 20px 0px;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

blockquote{
    border-left: 2px solid black;
    padding-left: 5px;
}

code{
    background-color: #ccc;
    padding: 5px;
}
