<title>Lukas Theodore WinklerPrins</title>
    <meta name="keyword" content="researcher, mathematics, applied mathematics, apma, brown university, brown, lukas, winklerprins, winkler prins, research,">
    <meta name="description" content="Lukas WinklerPrins, Technical Research">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@root_path/public/docs/css/css.css" />