<meta charset="UTF-8">
<meta name="keyword" content="lukas, winklerprins, winkler prins, research,">
<meta name="description" content="Lukas WinklerPrins—math, pedagogy, landscape research.">
<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
<link rel="stylesheet" type="text/css" href="@root_path/public/docs/css/css.css" />
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
