*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  font-family: 'PT Serif', serif;
  text-align: left;
  line-height: 175%;
  font-size: 16px;
  color: black;
}
a{
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  text-decoration: none;
}
p{
  margin: 20px 0px;
}

img{
  max-width: 600px;
  margin: 20px 0px;
}

.label{
  font-size: 23px;
  margin-left: -20px;
  margin-top: 50px;
  line-height: 35px;
}

.block{
  width: 60vw;
  margin: 40vh auto;
  min-height: 35vh; 
}

.project-description{
  margin-left: 40px;
  color: #444;
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.project-name{
  font-size: 20px;
}

.extra{
  margin-left: 40px;
}

.scaffolding{
  font-family: Courier, monospace;
  color: #444;
}

/* FRAME */
#top, #bottom, #left, #right {
background-color: black;
position: fixed;
z-index: 999;
visibility: hidden;
}
#left, #right {
top: 15px;
bottom: 15px;
width: 5px;
}
#left {
left: 15px;
}
#right {
right: 15px;
}
#top {
left: 15px;
right: 15px;
top: 15px;
height: 5px;
}
#bottom {
left: 15px;
right: 15px;
bottom: 15px;
height: 5px;
}
