<!DOCTYPE html>
<html>
  <head>
    <title>@name</title>
    :top_matter

    <style>
      #archive,#blogroll{
        display: none;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#archive_link").click(function(){
          $("#archive").toggle(500);
        });
        $("#blogroll_link").click(function(){
          $("#blogroll").toggle(500);
        });
      });
    </script>

  </head>
  <body>

    :frame

    <div id="container">

      <br />
      <h1>
        @top
      </h1>

      get "/blog" do
      foreach $children[:5] do

      <div class="block">

        <a class="special_link" href="@url">@slug ↗</a><br />
        @content

        if @links do
        <br />
        <strong>Internet Topology:</strong><br />
        @links
        endif

        <br />
      </div>

      endforeach
      end

      <div class="block" id="blogroll">
        My favs:<br />
        <a href="http://gimmickbook.com/">Gimmickbook</a><br />
        <a href="http://www.youmightfindyourself.com/">YMFY</a><br />
        <a href="http://wordsforyoungmen.com/">Words for Young Men</a><br />
        <a href="http://bldgblog.com/">BLDGBLOG</a><br />
        <a href="http://chneukirchen.org/trivium/">Trivium</a>
      </div>

      <div class="block" id="archive">
        get "/blog" do
        foreach $children do
        <a class="special_link" href="@url">@slug ↗</a> if @on do @on endif <br />
        endforeach
        end
      </div>

      <div class="block">
        <a class="special_link">RSS</a> | <a class="special_link" id="archive_link">Archive</a> | <a class="special_link" id="blogroll_link">Blogroll</a><br /><br />
      </div>

    </div>

    :link_color
  </body>
</html>
