<html>
    <head>
        <title>Lukas Theodore WinklerPrins</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

        $(document).ready(function(){

        });

    </script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <style>

        *{}

        body{
            font-family: "Inconsolata", Serif;
        }

        .box{
            width: 99%;
            border: 2px solid black;

            margin: 1% auto;
        }

        .l_column{
            width: 20%;
            text-align: left;
            display: inline-block;
            padding: 2%;
        }

        #firstboxtext{
            vertical-align: middle;
            width: 100%;
            text-align: center;
        }

        </style>
    </head>
    <body>

<div class="box" style="height: 99%;">
    <div id="firstboxtext">
        Lukey Wukey
    </div>
</div>
<div class="box">
<span class="l_column">
2008-2015 - I Love My Scanner <br />
2010 - Coffee Table ~<br />
2012 - Carbon Fiber Rollator ~<br />
2012 - Rockinet Project ~<br />
2013 - Cartography, Place, and Identity in Video Games<br />
2013 - Granular Stress Analysis<br />
2013-2015: BWxD LEGO Workshops ("LEGO As A Creative Tool", "LEGO: The Quantum of Construction", "Speaking in Brick.")<br />
2013 - Tactile Math<br />
2014 - Conversation & Space<br />
2014 - Nagatani Bus Loops<br />
2014 - George Hart Workshop & Sculpture Installation<br />
2014 - LEGO As A Creative Tool workshop @ BU EPIC Inauguration<br />
2014 - for/with/in<br />
2014 - LEGO As A Creative Tool workshop @ AS220 Youth<br />
2014 - non-space (ESR)<br />
2014 - Introduction to Boussinesq Equation<br />
2014-2015 - Studio Applied Math (ESR)<br />
2014-2015 - Hopscotch (HOP)<br />
2015 - Jumping Piece<br />
2015 - Reading Parties<br />
2015 - A Report on Bottle Caps<br />
2015 - Networks & Synchronization Lesson<br />
2015 - Pneumatic Igloo (w/Interventions ?)<br />
2015 - Functional Graphs Paper<br />
2015 - Paragraphs from the House of Slugs<br />
2015 - Empty Set Research<br />
2015 - Playful Spaces Tour (ESR)<br />

stuuuuuuuuuf
</span>
<span class="l_column">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</span>
</div>
<div class="box" style="height: 99%;"></div>

    </body>
</html>
