<html>
    <head>
        <title>Lukas Theodore WinklerPrins</title>
        :top
    </head>
    <body>

        <div class="container">

            <img style="width: 550px; margin: 20px auto;" src="@root_path/public/images/biz.jpg" /><br />

            @content

            <br />


            <!--
            foreach $root do
            <a href="@url"><h3>@title</h3></a><br /><br />
            endforeach
            -->



            <a href="@root_path/projects">Projects</a> / <a href="@root_path/shoebox">Shoebox</a> / <a href="http://blog.ltwp.net">Blog</a>


            :whitespace
        </div>

    </body>
</html>
