<html>
  <head>
    :top_matter
  </head>
  <body>
    :frame

    <!-- Blocks -->
    <div class="block">
      <div class="label">Pneumatic Igloo</div>
      Providence RI, May 2015<br /><br />

      During the 2014-2015 school year, Brown STEAM started collaborating with local company Pneuhaus, developing a plan to commission a large-scale bubble for the student group to use as a flexible and transportable programming space.

In the planning and research phases of this project, I found myself excited about the technical details of pneumatic structures:
    </div>
    <div class="block">
      <img src="http://ltwp.net/content/2.projects/13.pneu/5.JPG" />
      <img src="http://ltwp.net/content/2.projects/13.pneu/4.JPG" />
      <img src="http://ltwp.net/content/2.projects/13.pneu/3.JPG" />
    </div>
    <div class="block">
      During the 2014-2015 school year, Brown STEAM started collaborating with local company Pneuhaus, developing a plan to commission a large-scale bubble for the student group to use as a flexible and transportable programming space.

In the planning and research phases of this project, I found myself excited about the technical details of pneumatic structures: the engineering details, as well as physical construction. I took this interest to Dr Chris Bull in the School of Engineering and developed an independent study for me to study Pneumatic Architecture.

The semester consisted of a crash-course in solid mechanics, pneumatic engineering, and finite element methods. All that before actually sitting down and designing, then constructing, my own inflatable pneumatic structure.

I call my structure the "igloo." It is a 2/3rds sphere in the form of a geodesic dome, made out of 1.9oz ripstop Nylon.

Please watch an inflation video!.

Big thanks to Pneuhaus, Dr Bull, Alex Hadik, and many other friends for their help and support over the course of this project.
</div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="link_color.js"></script>
  </body>
</html>
