<html>
  <head>
    :top_matter
    <!--favicon -->
  </head>
  <body>
    :frame

    <div class="block">
      <div class="label">@name</div>

      @content

      <p>
        get "/projects" do
        foreach $children do
        if @writing do

      <div><a class="project-name" href="@url">
        @name if @external_link do ⤴ endif</a>

        <div class="project-description">@description</div>
      </div>

      endif
      endforeach
      end
      </p>

    </div>

  :scripts
  </body>
</html>
