<html>
  <head>
    <title>{{ post.title }}</title>
    {% include top_matter.html %}

  </head>
  <body>

    <div id="container">
      <div class="block">

        <h1>
          <a class="special_link" href="@url">@slug</a>
        </h1>

        if @name do
        <h1>
          @name
        </h1>
        endif
        if @meta do
        <code>@meta</code>
        endif

        foreach $images do
        <img src="@url" />
        endforeach

        @content

        if @links do
        <br /><br />
        <strong>Internet Topology:</strong><br />
        @links

        endif

      </div>
    </div>

  </body>
</html>
